$gray-darker: lighten(#000, 13.5%)
$gray-dark: lighten(#000, 20%)
$gray: lighten(#000, 33.5%)
$gray-light: lighten(#000, 60%)
$gray-lighter: lighten(#000, 93.5%)
$gray-lightest: lighten(#000, 97.25%)
$brand-primary: #428bca
$brand-success: #5cb85c
$brand-info: #5bc0de
$brand-warning: #f0ad4e
$brand-danger: #d9534f

// Mixins
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

=transition($sec)
  -webkit-transition: $sec
  -moz-transition: $sec
  -ms-transition: $sec
  -o-transition: $sec
  transition: $sec

=box-shadow($top, $right, $bottom, $left, $spread, $color)
  -webkit-box-shadow: $x $y $spread $color
  -moz-box-shadow: $x $y $spread $color
  -ms-box-shadow: $x $y $spread $color
  -o-box-shadow: $x $y $spread $color
  box-shadow: $x $y $spread $color


// Global Styles
body
  background-color: $gray-dark
// Wrappers
#wrapper
  width: 100%
#page-wrapper
  padding: 0 15px
  min-height: 568px
  background-color: white
@media(min-width:768px) 
  #page-wrapper 
    position: inherit
    margin: 0 0 0 160px//250px
    padding: 0 30px
    border-left: 1px solid darken($gray-lightest, 6.5%)
// Navigation
// --Topbar
.navbar-default
  background-color: $gray-dark
  border-bottom: $gray-darker
.nav 
  .open
    .dropdown-toggle
      background-color: $brand-danger
      &:hover, &:focus
        background-color: $brand-danger
.navbar-top-links
  .dropdown 
    .dropdown-toggle
      color: #fff
      +transition(.2s linear)
      &:hover
        background-color: $brand-danger
      &:focus
        background-color: $brand-danger
.navbar-top-links li 
  display: inline-block
  &:last-child 
    margin-right: 15px
  a 
    padding: 15px
    min-height: 50px
.navbar-top-links .dropdown-menu li 
  display: block
  &:last-child 
    margin-right: 0
.navbar-top-links .dropdown-menu li a 
  padding: 3px 20px
  min-height: 0
  div 
    white-space: normal
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts 
  width: 310px
  min-width: 0
.navbar-top-links .dropdown-messages 
  margin-left: 5px
.navbar-top-links .dropdown-tasks 
  margin-left: -59px
.navbar-top-links .dropdown-alerts 
  margin-left: -123px
.navbar-top-links .dropdown-user 
  right: 0
  left: auto
  @media(max-width: 768px)
    right: auto
    left: 0
.navbar-brand
  color: #fff !important
  &:hover
    color: $gray-light !important
#side-menu
  background-color: $gray-dark
  font-size: 12px 
  .fa-fw
    font-size: 18px
// --Sidebar
.form-control
  height: 33px
.sidebar 
  .sidebar-nav.navbar-collapse 
    padding-left: 0
    padding-right: 0
  .sidebar-search 
    padding: 15px
  .active
    background-color: $brand-danger  
    a 
      color: #fff
  ul 
    li 
      border-bottom: 1px solid darken($gray, 6.5%)
      a 
        color: $gray-light
        +transition(.2s linear)
        &.active 
          background-color: $brand-danger
          color: #fff
        &:hover
          background-color: $brand-danger
          color: #fff
  .arrow 
    float: right
  .fa.arrow:before 
    content: "\f104"
  .active > a > .fa.arrow:before 
    content: "\f107"
  .nav-second-level li, .nav-third-level li 
    border-bottom: none !important
  .nav-second-level li a 
    padding-left: 37px
  .nav-third-level li a 
    padding-left: 52px
  @media(min-width:768px) 
    z-index: 1
    position: absolute
    width: 160px//250px
    margin-top: 51px
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts 
    margin-left: auto
// Buttons
.btn-outline 
  color: inherit
  background-color: transparent
  transition: all .5s
.btn-primary.btn-outline 
  color: $brand-primary
.btn-success.btn-outline 
  color: $brand-success
.btn-info.btn-outline 
  color: $brand-info
.btn-warning.btn-outline 
  color: $brand-warning
.btn-danger.btn-outline 
  color: $brand-danger
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover 
  color: white
// Chat Widget
.chat 
  margin: 0
  padding: 0
  list-style: none
.chat li 
  margin-bottom: 10px
  padding-bottom: 5px
  border-bottom: 1px dotted $gray-light
.chat li.left .chat-body 
  margin-left: 60px
.chat li.right .chat-body 
  margin-right: 60px
.chat li .chat-body p 
  margin: 0
.panel .slidedown .glyphicon,
.chat .glyphicon 
  margin-right: 5px
.chat-panel .panel-body 
  height: 350px
  overflow-y: scroll
// Login Page
.login-panel 
  margin-top: 25%
// Flot Charts Containers
.flot-chart 
  display: block
  height: 400px
.flot-chart-content 
  width: 100%
  height: 100%
// DataTables Overrides
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled 
  background: transparent
table.dataTable thead .sorting_asc:after 
  content: "\f0de"
  float: right
  font-family: fontawesome
table.dataTable thead .sorting_desc:after 
  content: "\f0dd"
  float: right
  font-family: fontawesome
table.dataTable thead .sorting:after 
  content: "\f0dc"
  float: right
  font-family: fontawesome
  color: rgba(50,50,50,.5)
// Circle Buttons 
.btn-circle 
  width: 30px
  height: 30px
  padding: 6px 0
  border-radius: 15px
  text-align: center
  font-size: 12px
  line-height: 1.428571429
.btn-circle.btn-lg 
  width: 50px
  height: 50px
  padding: 10px 16px
  border-radius: 25px
  font-size: 18px
  line-height: 1.33
.btn-circle.btn-xl 
  width: 70px
  height: 70px
  padding: 10px 16px
  border-radius: 35px
  font-size: 24px
  line-height: 1.33
// Grid Demo Elements
.show-grid [class^="col-"] 
  padding-top: 10px
  padding-bottom: 10px
  border: 1px solid #ddd
  background-color: #eee !important
.show-grid 
  margin: 15px 0
// Custom Colored Panels
.huge 
  font-size: 40px
.panel-green 
  border-color: $brand-success
  .panel-heading 
    border-color: $brand-success
    color: white
    background-color: $brand-success
  a 
    color: $brand-success
    &:hover 
      color: darken($brand-success, 15%)
.panel-red 
  border-color: $brand-danger
  .panel-heading 
    border-color: $brand-danger
    color: white
    background-color: $brand-danger
  a 
    color: $brand-danger
    &:hover 
      color: darken($brand-danger, 15%)
.panel-yellow 
  border-color: $brand-warning
  .panel-heading 
    border-color: $brand-warning
    color: white
    background-color: $brand-warning
  a 
    color: $brand-warning
    &:hover 
      color: darken($brand-warning, 15%)
.page-header
  margin: 15px 0 20px
.dataTables_filter
  input[type="search"]
    margin-left: 10px